<div ng-controller="AddCategoryController" class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 form-group">
        <h2>Добавление категории</h2>
        <label>Имя</label>
        <input type="text" placeholder="имя категории" class="form-control" ng-model="name"/>
        <br />
        <label>Описание</label>
        <input type="text" placeholder="описание"  class="form-control" ng-model="description"/>
        <br />
        <button class="btn btn-default" ng-click="AddCategoryController.create(name, description)">Создать</button>
    </div>

    <div class="col-md-3"></div>
</div>
